body{
    text-align: center;
    background-color: rgb(233, 215, 207);
}

h1{
    font-family: fira sans, sans-serif;
    text-align: center;
    color: black;
    margin-top: 150px;
}

p{
    font-family: fira sans, sans-serif;
    text-align: center;
    color: black;
}

a{
    color:blueviolet;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

#todays-challenge{
    color: rgb(50, 48, 48);
    font-weight: bold;
    font-size: 52px;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 2px solid black;
}

b{
    color:rgb(86, 6, 6);
}

main{
    border: 2px solid black;
    margin: -102px auto 72px auto;
    background-color: brown;
    width: 800px;
}
